@keyframes spin {
    0% {transform: rotate(0deg);}
    25% {transform: rotate(90deg);}
    50% {transform: rotate(180deg);}
    75% {transform: rotate(270deg);}
    100% {transform: rotate(360deg);}
}

@keyframes scale {
    25% {color: #ed0d0d;}
    25% {font-size: 37px;}
    50% {color: f8dd2e;}
    50% {font-size: 25px;}
    75% {font-size: 25px;}
}

@keyframes scale2 {
    25% {color: #0b66c3;}
    25% {font-size: 15px;}
    50% {font-size: 25px;}
    50% {color: white;}
    75% {font-size: 18px;}
    60% {color: #0b66c3;}
}


@keyframes scale3 {
    50% {color: #0b66c3;}
    50% {font-size: 16px;}
    75% {font-size: 25px;}
    75% {color: white;}
}


body {
    margin: 20px;
    background-color: lightgray;
}

.card {
    display: flex;
    justify-content: space-around;  
    align-items: center;
    margin: 0px auto;
    width: 600px;
    height: 200px;
    background-color: #0b66c3;
    padding: 20px;
    border-radius: 20px;
    border-bottom: 6px solid #01274d;
    border-left: 10px solid #005cb8;
    color: rgb(255, 255, 255);
    /*background-image: url("../../images/linkedin.png"); Best Practice: Relative Paths*/
}

.hint-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px auto;
    width: 400px;
    height: 50px;
    background-color: #0b66c3;
    padding: 20px;
    border-radius: 20px;
    border-bottom: 6px solid #01274d;
    border-left: 10px solid #005cb8;
    color: rgb(255, 255, 255);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    /*background-image: url("../../images/linkedin.png"); Best Practice: Relative Paths*/
}


.card:active h1 {
    animation-name: scale;
    animation-duration: 2s;
}

.card:active p {
    animation-name: scale2;
    animation-duration: 2s;
}

.card:active h4 {
    animation-name: scale3;
    animation-duration: 2s;
}


.card:hover {
    background-color: #f8dd2e;
    border-bottom: 6px solid #494d01;
    border-left: 10px solid #b8ac00;
}

.card:hover p,
.card:hover h4 {
    color: #0b66c3;
}

.avatar { 
    width: 200px;
    height: 100%;
}

.card-right {
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.italic {
    font-style: italic;
}

.shadow {
    text-shadow: rgb(0, 0, 124) 2px 2px;
}

.dotted {
    border: 1px dotted black;
}

.dark {
color: rgb(248, 221, 46);
}