.main {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    display: inline;
    margin: 0px;
}

.about {
    background-color: aquamarine;
    width: 350px;
    border-radius: 25px;
    padding: 5px;
    border-style: solid;
    border-width: 1px;
}

.about h2 {
    text-align: center;
    margin-bottom: 30px;
}

.twitter {
    padding: 10 20px;
    border-radius: 20px;    
    background-color: white;
    border: 1px solid #cfd9de;
    color: #0f1419;
    font-weight: bold;
    margin-top: 10px;
}